In [4]:
import pandas as pd
df = pd.read_csv("car_price_dataset.csv")
df

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,2,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,4,2,11171
3,Audi,Q5,2023,2.0,Electric,Manual,160971,2,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,3,2867
...,...,...,...,...,...,...,...,...,...,...
9995,Kia,Optima,2004,3.7,Diesel,Semi-Automatic,5794,2,4,8884
9996,Chevrolet,Impala,2002,1.4,Electric,Automatic,168000,2,1,6240
9997,BMW,3 Series,2010,3.0,Petrol,Automatic,86664,5,1,9866
9998,Ford,Explorer,2002,1.4,Hybrid,Automatic,225772,4,1,4084
9999,Volkswagen,Tiguan,2001,2.1,Diesel,Manual,157882,3,3,3342

In [11]:
# 1. What is the average price of all cars in the dataset?

average_price = df['Price'].mean()
print(f"The average price of all cars in the dataset is {average_price}")

The average price of all cars in the dataset is 8852.9644

In [16]:
# 2. Which car brand has the highest average price?
highest_average_price =  df.groupby("Brand")['Price'].mean().idxmax()
print(f"The Car brand  THat has the highest average price is : {name}")

The Car brand  THat has the highest average price is : Chevrolet

In [18]:
# 3. What is the most common fuel type in the dataset?
fuel_type = df['Fuel_Type'].value_counts().idxmax()
print(f" The most common fuel type in the database is ;{fuel_type}")

 The most common fuel type in the database is ;Electric

In [22]:
# 4. How many cars have a mileage greater than 200,000?
mileage_greater_tan_200000 = len(df[df['Mileage'] > 200000 ])
print(f"The number of cars with mileage greater than 200,000 is: {mileage_greater_tan_200000}")

The number of cars with mileage greater than 200,000 is: 3290

In [24]:
# 5. What is the distribution of cars by transmission type?
transmission_distribution = df['Transmission'].value_counts()
print(f"The distribution of cars by transmission type is :{transmission_distribution}")

The distribution of cars by transmission type is :Transmission
Manual            3372
Automatic         3317
Semi-Automatic    3311
Name: count, dtype: int64

In [26]:
# 6. Which car model has the highest price?
highest_average_price = df.groupby("Model").idxmax()
print(f"highest price is :{highest_average_price}")

highest price is :          Brand  Year  Engine_Size  Fuel_Type  Transmission  Mileage  Doors  \
Model
3 Series     27   189          677         94            27     7014     27
5 Series     10   555         2851         41           102     6466     96
A3           26   271         7221        164            97     8720     26
A4           39   885         2414         39            82     4029    126
Accord      105   651          651        247           107     3211    105
C-Class      63   109         2857         85           109     4384     63
CR-V         12  1312         1368        163           113     4929     75
Camry         5   280         2459          5           103      218    138
Civic         6  1771         7331         59            53     1887     53
Corolla      34   662          858         89            98     1501     89
E-Class      50   118         1669         50            50     7629    149
Elantra      13   585         4110        210            13     4502     16
Equinox      20   257         4183        116           108     7838    108
Explorer     23   146          100        155           256     5575    100
Fiesta       38  1163          507        229            67     9243    395
Focus        40   914         2662        144            52     4147     45
GLA           2   250         1780         19            24     6242    203
Golf          4    79         2139         14             4     8689     14
Impala       32   627         1469         32            56      354     32
Malibu        1   465         7044        223           238     9086    238
Optima       35   832         1824         35           246     7027    177
Passat       31   400         2691         95            65     9851     65
Q5            3     3         3104        185            36     4292     44
RAV4          9   725         1731          9            21     1339     22
Rio           0   596         5640        388            18     2666    438
Sonata       58  1219         6944        166           219     7998     74
Sportage      7  1389         7705        275             7     2783     37
Tiguan       17   565         4250         81           123     1237    391
Tucson       30   978         3942         69           153     6855    375
X5           77  1645          469         91            77      232    180

          Owner_Count  Price
Model
3 Series           55   1079
5 Series           96   3319
A3                 97   7221
A4                 46   3302
Accord            140   9564
C-Class           127   6123
CR-V              181   5698
Camry             280   2379
Civic              59   3177
Corolla            89   1100
E-Class            50   7264
Elantra           106   8422
Equinox           116   8706
Explorer          155   1012
Fiesta            229   7106
Focus              45   9616
GLA                33   9952
Golf               66   2527
Impala            674   7284
Malibu            125   2369
Optima             35   7741
Passat             86   4497
Q5                 93   9468
RAV4                9   1495
Rio                 0   9731
Sonata             74   3924
Sportage           73   4627
Tiguan             81    964
Tucson             30   9766
X5                119   1310

In [37]:
# 7. What is the average price of cars by fuel type?
average_price_by_fuel_type = df.groupby("Fuel_Type")['Price'].mean()
print(f"The Avearage price of cars by fuel type is :{average_price_by_fuel_type}")

The Avearage price of cars by fuel type is :Fuel_Type
Diesel       8117.336385
Electric    10032.220190
Hybrid       9113.030167
Petrol       8070.561826
Name: Price, dtype: float64

In [42]:
# 8. How many cars are from the year 2020 or later?

car_from_year_2020 = len(df[df['Year'] >= 2020])
print(f" The number of cars from the year 2020 is :{car_from_year_2020}")

 The number of cars from the year 2020 is :1651

In [49]:
# 9. What is the average engine size for each brand?

average_engine_size = df.groupby("Brand")['Engine_Size'].mean()
print(f"The average engine size of each brand is : {average_engine_size}")

The average engine size of each brand is : Brand
Audi          3.032948
BMW           2.976877
Chevrolet     2.993719
Ford          3.044275
Honda         2.925966
Hyundai       2.936683
Kia           3.053791
Mercedes      3.069745
Toyota        2.961443
Volkswagen    3.011078
Name: Engine_Size, dtype: float64

In [51]:
# 10. Which car has the lowest mileage?
lowest_miileage = df.groupby("Model")['Mileage'].idxmin()
print(f" lowest mileage is :\n{lowest_miileage}")

 lowest mileage is :
Model
3 Series    6211
5 Series    9473
A3          9677
A4          8872
Accord       420
C-Class      167
CR-V        3657
Camry       9077
Civic       7768
Corolla     3620
E-Class     6669
Elantra     4509
Equinox     7312
Explorer    6824
Fiesta       538
Focus       1498
GLA         5919
Golf        2139
Impala      2111
Malibu      5750
Optima       690
Passat      5692
Q5          9335
RAV4        3767
Rio         9845
Sonata      5345
Sportage    7653
Tiguan      7153
Tucson      6111
X5          6641
Name: Mileage, dtype: int64

In [57]:
# 11. What is the correlation between mileage and price?
correlation_between_mileage_and_price = df['Mileage'].corr(df['Price'])
print(f"The Correlation between mileage and price is :{correlation_between_mileage_and_price}")

The Correlation between mileage and price is :-0.5512271827629014

In [62]:
# 12. How many cars have more than 2 owners
cars_moe_than_2_owner = len(df[df['Owner_Count'] > 2])
print(f"The numbers of car with more than 2 owners : {cars_moe_than_2_owner} ")

The numbers of car with more than 2 owners : 5944

In [64]:
# 13. What is the average price of cars by year?
average_price_by_year = df.groupby("Year")['Price'].mean()
print(f"The Average price of cars by year is : {average_price_by_year}")

The Average price of cars by year is : Year
2000     5393.735369
2001     5904.064039
2002     5956.751082
2003     6225.834646
2004     6330.725888
2005     6943.037123
2006     7249.961446
2007     7632.513953
2008     7728.418848
2009     8083.917293
2010     8503.419954
2011     8622.855234
2012     9011.446224
2013     9114.208531
2014     9587.455635
2015     9896.774648
2016    10177.600000
2017    10343.757506
2018    10939.192941
2019    11132.722090
2020    11495.284337
2021    11637.813299
2022    12067.690176
2023    12169.470982
Name: Price, dtype: float64

In [66]:
# 14. Which car has the highest number of doors?
higest_average_price = df.groupby("Doors")["Price"].idxmax()
print(f"the highest number of doors is :{highest_average_price}")

the highest number of doors is :          Brand  Year  Engine_Size  Fuel_Type  Transmission  Mileage  Doors  \
Model
3 Series     27   189          677         94            27     7014     27
5 Series     10   555         2851         41           102     6466     96
A3           26   271         7221        164            97     8720     26
A4           39   885         2414         39            82     4029    126
Accord      105   651          651        247           107     3211    105
C-Class      63   109         2857         85           109     4384     63
CR-V         12  1312         1368        163           113     4929     75
Camry         5   280         2459          5           103      218    138
Civic         6  1771         7331         59            53     1887     53
Corolla      34   662          858         89            98     1501     89
E-Class      50   118         1669         50            50     7629    149
Elantra      13   585         4110        210            13     4502     16
Equinox      20   257         4183        116           108     7838    108
Explorer     23   146          100        155           256     5575    100
Fiesta       38  1163          507        229            67     9243    395
Focus        40   914         2662        144            52     4147     45
GLA           2   250         1780         19            24     6242    203
Golf          4    79         2139         14             4     8689     14
Impala       32   627         1469         32            56      354     32
Malibu        1   465         7044        223           238     9086    238
Optima       35   832         1824         35           246     7027    177
Passat       31   400         2691         95            65     9851     65
Q5            3     3         3104        185            36     4292     44
RAV4          9   725         1731          9            21     1339     22
Rio           0   596         5640        388            18     2666    438
Sonata       58  1219         6944        166           219     7998     74
Sportage      7  1389         7705        275             7     2783     37
Tiguan       17   565         4250         81           123     1237    391
Tucson       30   978         3942         69           153     6855    375
X5           77  1645          469         91            77      232    180

          Owner_Count  Price
Model
3 Series           55   1079
5 Series           96   3319
A3                 97   7221
A4                 46   3302
Accord            140   9564
C-Class           127   6123
CR-V              181   5698
Camry             280   2379
Civic              59   3177
Corolla            89   1100
E-Class            50   7264
Elantra           106   8422
Equinox           116   8706
Explorer          155   1012
Fiesta            229   7106
Focus              45   9616
GLA                33   9952
Golf               66   2527
Impala            674   7284
Malibu            125   2369
Optima             35   7741
Passat             86   4497
Q5                 93   9468
RAV4                9   1495
Rio                 0   9731
Sonata             74   3924
Sportage           73   4627
Tiguan             81    964
Tucson             30   9766
X5                119   1310

In [69]:
# 15. What is the average mileage for each fuel type?

average_mileage_by_fuel_type = df.groupby("Fuel_Type")['Mileage'].mean()
print(f"average mileage of fuel type is :{average_mileage_by_fuel_type}")

average mileage of fuel type is :Fuel_Type
Diesel      150261.533041
Electric    151059.307429
Hybrid      145577.587036
Petrol      149917.694606
Name: Mileage, dtype: float64

In [71]:
# 16. How many cars are from the brand 'Toyota'?
cars_brand_toyota = len(df[df['Brand'] == 'Toyota'])
print(f"The number of cars from the brand 'Toyota' is: {cars_brand_toyota}")

The number of cars from the brand 'Toyota' is: 970

In [74]:
# 17. What is the average price of cars with automatic transmission?
average_price_with_automatic_transmission = df[df['Transmission'] == 'Automatic']['Price'].mean()
print(f"The average price of cars with automatic transmission is: {average_price_with_automatic_transmission}")

The average price of cars with automatic transmission is: 9938.252939403075

In [76]:
# 18. Which car has the highest owner count?
highest_owner_count_car = df.loc[df['Owner_Count'].idxmax()]
print(f"The car with the highest owner count is:\n{highest_owner_count_car}")

The car with the highest owner count is:
Brand              Kia
Model              Rio
Year              2020
Engine_Size        4.2
Fuel_Type       Diesel
Transmission    Manual
Mileage         289944
Doors                3
Owner_Count          5
Price             8501
Name: 0, dtype: object

In [78]:
# 19. What is the average engine size for cars with diesel fuel type?
average_engine_size_disel = df[df['Fuel_Type'] == 'Diesel']['Engine_Size'].mean()
print(f"The average engine size for cars with diesel fuel type is: {average_engine_size_disel}")

The average engine size for cars with diesel fuel type is: 3.011863057324841

In [82]:
# 20. How many cars have a price greater than $10,000?
cars_price_greaterr_than_10000 = len(df[df['Price'] > 10000])
print(f"The number of cars with a price greater than $10,000 is: {cars_price_greaterr_than_10000}")

The number of cars with a price greater than $10,000 is: 3651